
p {
    font-family: 'Courier New', Courier, monospace;
    padding: 8px 50px;
}

.special{
    background-color: #4CAF50;
    border: none;
    font-size: 15px;
    color: white;
    padding: 16px 32px;}
    
select {
    width: 900px;
    padding: 8px 16px;
} 
    fieldset{
        margin: 5px 35px 5px;
}
h1{
    color: #4CAF50;
    text-align: center;
}

ul {
    list-style-type: none;
    border: 5px solid #e7e7e7;
    background-color: #f3f3f3;
    overflow: hidden;
    padding: 1px;
    margin: 1px;
}
li {
    float: left;
}

.nav-right {
    float: right ; 
}
a{
    text-decoration: none;
    color: #008cba;
}
li a {
    display: block;
    color: #666;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px ;
    padding-bottom: 14px;
}
li a:hover{
    background-color: lightgrey;

}
li a.active{
    background-color: green;
    color : white;
}
div:not(.searchbar,#mytable) {
    border: 5px;
    border-style: dashed;
    border-radius: 20px;
    box-shadow: 10px 10px 5 px dimgray;
    background-image: linear-gradient(white, blue);
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: green;
    color: white;
}
thead tr {
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: lightgrey;
}

.searchbar{
    width:20%;
    height:auto;
    border:1px;
    border-color:lightgrey;
    border-style: solid;
    padding: 0px 10px;
    margin: 8px auto;
    border-radius: 24px;
    display: flexbox;

}

.searchbox{
    width:80%;
    padding:8px 8px;
    border:none;
    margin: 0 2px;
    outline:none;
     
}
.searchbar:hover{
    box-shadow: 0px 15px 6px dimgray;
}